<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbu-Zthooch6cwv7xfulrO55Z60R1HUqo</string>
	<key>GCM_SENDER_ID</key>
	<string>315974407151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicSocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-447dc</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-447dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315974407151:ios:01e9a585c3af5f2aec9c1a</string>
</dict>
</plist>